.CardHeader{
    /*display: flex;*/
    align-self: flex-start;
    padding-left: 10px;
    height: 15%;
    font-family: "Montserrat",sans-serif;
    /*font-size: 17px;*/
}

.Info {
    height: 15%;
}

.Main {
    height: 10%;
}
